@import 'tailwindcss';

@theme {
  --color-gray-600: #111116;
  --color-gray-550: #1d1e27;
  --color-gray-500: #303141;
  --color-gray-450: #414458;
  --color-gray-400: #595c73;
  --color-gray-350: #6f7390;
  --color-gray-300: #9194ac;
  --color-gray-250: #b7b9cd;
  --color-gray-200: #d1d2e0;
  --color-gray-150: #e9eaf2;
  --color-gray-100: #f6f7f9;
  --color-red-500: #940a00;
  --color-red-450: #c20d00;
  --color-red-400: #d51c0f;
  --color-red-350: #ea3124;
  --color-red-300: #ff493c;
  --color-red-250: #ff7e74;
  --color-red-200: #ffb7b2;
  --color-red-150: #ffd1ce;
  --color-red-100: #ffeceb;
  --color-blue-500: #180a3d;
  --color-blue-450: #281160;
  --color-blue-400: #371783;
  --color-blue-350: #431ca3;
  --color-blue-300: #5022c3;
  --color-blue-250: #8072e6;
  --color-blue-200: #c0c4fc;
  --color-blue-150: #d8e0fb;
  --color-blue-100: #eeeffc;
  --color-indigo-500: var(--color-blue-500);
  --color-indigo-400: var(--color-blue-400);
  --color-indigo-300: var(--color-blue-300);
  --color-indigo-200: var(--color-blue-200);
  --color-indigo-100: var(--color-blue-100);
  --color-orange-500: #8b4309;
  --color-orange-450: #a7590c;
  --color-orange-400: #c4710d;
  --color-orange-350: #df890c;
  --color-orange-300: #f69c08;
  --color-orange-250: #f5b448;
  --color-orange-200: #ffcc80;
  --color-orange-150: #ffe1b2;
  --color-orange-100: #fff6e5;
  --color-yellow-500: #223509;
  --color-yellow-450: #5c6a12;
  --color-yellow-400: #959b19;
  --color-yellow-350: #d2cf1e;
  --color-yellow-300: #e9e729;
  --color-yellow-250: #eeec5d;
  --color-yellow-200: #eceb98;
  --color-yellow-150: #f3f2b8;
  --color-yellow-100: #f9f9d7;
  --color-green-500: #123825;
  --color-green-450: #194d33;
  --color-green-400: #206241;
  --color-green-350: #1f8552;
  --color-green-300: #1ea863;
  --color-green-250: #5cbe8a;
  --color-green-200: #8cd3b0;
  --color-green-150: #bbe7d3;
  --color-green-100: #ebfaf4;
  --color-teal-600: #082b35;
  --color-teal-550: #0b3e4a;
  --color-teal-500: #0d5261;
  --color-teal-450: #0d697a;
  --color-teal-400: #0e8390;
  --color-teal-350: #199aa3;
  --color-teal-300: #45b5bb;
  --color-teal-250: #72d3d8;
  --color-teal-200: #97dfe3;
  --color-teal-150: #c2e9eb;
  --color-teal-100: #e4f5f6;
  --color-purple-600: #180a3d;
  --color-purple-550: #291367;
  --color-purple-500: #3b1b94;
  --color-purple-450: #5022c3;
  --color-purple-400: #6d28d2;
  --color-purple-350: #892de1;
  --color-purple-300: #a435f0;
  --color-purple-250: #af72fd;
  --color-purple-200: #bda1ff;
  --color-purple-150: #d2caff;
  --color-purple-100: #f2efff;
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);
  --color-white: #fff;
  --color-knockout: #fff;
}
